<br><br><br>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Agostina Bottarini</h5>
        <a><img src="/img/creditos/agostina.jpg" alt="..."></a>
        <p class="card-text"> <br> Fecha de nacimiento: 25/04/2007 <br> Jerarquía/s: Almagro - 2023 - NI4A</p>
        <a href="https://www.google.com/intl/es-419/gmail/about/" class="btn btn-primary" target="_blank">agosbottarini@gmail.com</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Joaquin Piva</h5>
        <a><img src="/img/creditos/joaquin.jpg" alt="..."></a>
        <p class="card-text"> <br> Fecha de nacimiento: 25/04/2007 <br> Jerarquía/s: Almagro - 2023 - NI4A</p>
        <a href="https://www.google.com/intl/es-419/gmail/about/" class="btn btn-primary" target="_blank">joaco25.27@gmail.com</a>
      </div>
    </div>
  </div>
</div>