@{
    ViewData["Title"] = "Index";
}
<br><br><br>
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a><img src="/img/partidos/jxc.jpg" alt="..." class="rounded mx-auto d-block"></a>
                <p class="card-text"> <br> Fecha de nacimiento: 25/04/2007 <br> Jerarquía/s: Almagro - 2023 - NI4A</p>
                <a href="https://www.google.com/intl/es-419/gmail/about/" class="btn btn-primary" target="_blank">agosbottarini@gmail.com</a>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a><img src="/img/partidos/frente-de-izquierda.jpg" alt="..." class="rounded mx-auto d-block"></a>
                <p class="card-text"> <br> Fecha de nacimiento: 25/04/2007 <br> Jerarquía/s: Almagro - 2023 - NI4A</p>
                <a href="https://www.google.com/intl/es-419/gmail/about/" class="btn btn-primary" target="_blank">agosbottarini@gmail.com</a>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a><img src="/img/partidos/la-libertad-avanza.jpg" alt="..." class="rounded mx-auto d-block"></a>
                <br><br>
                <h5 class="rounded mx-auto d-block"> LA LIBERTAD AVANZA </h5>
                <br>
                <a href="https://www.google.com/intl/es-419/gmail/about/" class="btn btn-primary rounded mx-auto d-block" target="_blank">Ver más</a>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <a><img src="/img/partidos/union-por-la-patria.jpeg" alt="..." class="rounded mx-auto d-block"></a>
                <p class="card-text"> <br> Fecha de nacimiento: 25/04/2007 <br> Jerarquía/s: Almagro - 2023 - NI4A</p>
                <a href="https://www.google.com/intl/es-419/gmail/about/" class="btn btn-primary" target="_blank">agosbottarini@gmail.com</a>
            </div>
        </div>
    </div>
</div>
    